<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #f0e02f;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/tartinians/index.html">Tartinians in Europe</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav d-flex flex-mb-row">
      <li class="nav-item">
        <a class="nav-link" href="/tartinians/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tartinians/posts">Blog</a>
      </li>
    </ul>
  </div>
</div>
</nav>
